#logo {
  padding-top: 130px;
  margin-bottom: 30px;
}
.buttons {
  margin-top: 10px;
  padding: 10 16px;
  border-radius: 0;
}

#textbar {
  margin-bottom: 30px;
  width: 100%;
}

footer {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: arial;
  font-size: 13px;
  width: 100%;
  height: auto;
  display: block;
}

.fsr {
 margin-right: 30px;
 line-height: 40px;
 word-spacing: 10px;
 float: right;
}

.fsl {
  margin-left: 30px;
  line-height: 40px;
  word-spacing: 10px;
  float: left;
}

#gapps {
  width: 16px;
  top: 3px;
  opacity: 0.5;
}
#notify {
  height: 18px;
  width: 18px;
  opacity: 0.5;
}

#user {
  width: 25px;
  border-radius: 15px;
}

header {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  margin-right: 12px;
  word-spacing: 10px;
  font-family: arial;
  font-size: 13px;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
